{% load static from staticfiles%}
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <img src="{% static 'img/ocorrencia.png' %}" width="200" height="80">
      <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Settings</h5>
      <ul>
        <li><a class="white-text" href="#!">Link 1</a></li>
        <li><a class="white-text" href="#!">Link 2</a></li>
        <li><a class="white-text" href="#!">Link 3</a></li>
        <li><a class="white-text" href="#!">Link 4</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
                <h5 class="white-text">Siga nossas redes sociais</h5>
                <center>
                <ul>
                <article class="icone">
                 <a href="#" class="sb-icone" target="_blank" title="Facebook"><img src=" {% static 'rede/Facebook-icon.png' %} " width="60" height="60"></a>
                 <a href="#" class="sb-icone" target="_blank" title="Github"><img src="{% static 'rede/Github-icon.png' %}" width="60" height="60"></a>
                 <a href="#!" class="sb-icone" target="_blank" title="Skype" ><img src="{% static 'rede/Skype-icon.png' %}" width="60" height="60"></a>
                 <a href="#!"  class="sb-icone" target="_blank" title="Twitter"><img src="{% static 'rede/Twitter-icon.png' %}" width="60" height="60"></a>
                </ul>
                </article>
                </center>
              </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
  </div>
</div>