{% load static from staticfiles%}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href=" {% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href=" {% static "css/rede-sociais.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href=" {% static "css/fonte.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href=" {% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

<!-- FAVICONS -->
<!--[if IE]><link rel="shortcut icon" href="/img/favicon/favicon.png"><![endif]-->
<link rel="icon" href="{% static "img/icon.png"%}">
<link rel="icon" href="{% static "img/icon.png"%}" sizes="16x16">
<link rel="icon" href="{% static "img/icon.png"%}" sizes="32x32">
<link rel="icon" href="{% static "img/icon.png"%}" sizes="48x48">
<link rel="icon" href="{% static "img/icon.png"%}" sizes="64x64">
<link rel="icon" href="{% static "img/icon.png"%}" sizes="128x128">

