{% load static from staticfiles%}
<center>
<img src="{% static 'img/ocorrencia.png' %}" >
{% include 'include/horas.html' %}

</center>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="/">HOME</a></li>
        <li ><a href="/policia_poster/">POLÍCIA</a></li>
        <li ><a href="/politica_poster/">POLÍTICA</a></li>
        <li ><a href="/classificado/">CLASSIFICADO</a></li>
        <li ><a href="/contato/" class="waves-effect orange btn" >CONTATOS</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="waves-effect orange btn" target="_blank">OCORRÊNCIA</a></li>

  </div>
</nav>